AUTHORS
ChangeLog
*.pyc
__pycache__/
*.log
*.swp
*.swo
*.rej
*.orig
*.egg*
.tox
.venv
dist
build
.testrepository
.stestr
.idea
.project
.pydevproject
.coverage*
!.coveragerc
/hosts*
/instackenv*
/sshconf*
/state/
/asset/
/sl-hosts*
